.ScoreBoard > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ScoreBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playerScore {
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.playersScores {
  width: 100%;
}
